include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include git-branch-keeper.example.json
include git_branch_keeper/py.typed
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude * .DS_Store
